<div>
    <div class="row mt-2 bg-blue-200 shadow-md">
        <div class="flex-1 p-4 m-2 ">
            <label for="supplier_name" class="block mb-3 text-gray-700 font-semibold">
                Delete Invoice
            </label>
            <input type="date" v-model="delete_date" class="form-control w-25">
            <div class="flex-1  m-2 items-center">
                <button type="submit" @click="deleteInvoice" class="submit-button w-15">Submit</button>
            </div>
        </div>
    </div>
    <div v-if="current_delete_date" class="row mt-2 bg-blue-200 shadow-md">
        <div class="flex-1 p-4 m-2 ">
        </div>
        <div class="flex-1 p-4 m-2 ">
            <div class="flex justify-between items-center w-full" v-for="(row, index) in delete_list" :key="index">
                    <span >[[ row ]]</span>
                <div class="flex-1 text-left p-2 m-1 relative group inline-block">
                    <button @click="removeFileList(row,index)" class="text-red-600 hover:text-red-800 font-bold">
                        ✕
                    </button>
                    <span class="absolute bottom-full mb-1 hidden group-hover:block 
                            bg-gray-800 text-white text-xs rounded py-1 px-2 whitespace-nowrap">
                        Remove File
                    </span>
                </div>
            </div>
                <button type="submit" v-if="current_delete_date" @click="deleteInvoiceFile" class=" submit-button w-15">Submit</button>
            </div>
        <div class="flex-1 p-4 m-2 ">
        </div>
    </div>

</div>