<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Invoice Extraction </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="static/style.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <style>
    html {
      overflow-y: hidden;
      /* disables vertical scrollbar */
    }

    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #e6f0ff;
      color: #333;
    }

    header {
      background-color: #004aad;
      color: white;
      padding: 15px;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
    }

    .dashboard {
      display: flex;
      height: 100vh;
    }

    .sidebar {
      width: 220px;
      background-color: #002f6c;
      color: white;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }

    .sidebar button {
      background: none;
      border: none;
      color: white;
      padding: 12px 20px;
      text-align: left;
      cursor: pointer;
      font-size: 1rem;
      transition: background 0.3s;
    }

    .sidebar button:hover,
    .sidebar button.active {
      background-color: #004aad;
    }

    .main-content {
      flex: 1;
      padding: 20px;
      overflow-y: auto;
    }

    .submit-button {
      padding: 10px 20px;
      background-color: #004aad;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    .submit-button:hover {
      background-color: #003380;
    }
  </style>

</head>


<body>
  <div id="app">
    <header class="text-left font-bold text-xl">
      Invoice Extraction
    </header>

    <div class="dashboard">
      <!-- Sidebar Navigation -->
      <div class="sidebar">
        <button :class="{active: activeTab==='image'}" @click="activeTab='image'" @mouseover="activeTab='image'">
          <i class="fas fa-file-excel"></i> Upload Image Invoice
        </button>

        <button :class="{active: activeTab==='pdf'}" @click="activeTab='pdf'" @mouseover="activeTab='pdf'">
          <i class="fas fa-file-pdf"></i> Upload PDF Invoice
        </button>

        <button :class="{active: activeTab==='excel'}" @click="activeTab='excel'" @mouseover="activeTab='excel'">
          <i class="fas fa-file-excel"></i> Upload Excel
        </button>
        <!-- <button :class="{active: activeTab==='invoices'}" @click="activeTab='invoices'">
          <i class="fas fa-table"></i> Show Invoices
        </button> -->
        <button :class="{active: activeTab==='month'}" @click="activeTab='month'" @mouseover="activeTab='month'">
          <i class="fas fa-calendar-alt"></i> Month Report
        </button>

        <button :class="{active: activeTab==='settings'}" @click="activeTab='settings'"
          @mouseover="activeTab='settings'">
          <i class="fas fa-cog"></i> Settings
        </button>

        <!-- <button :class="{active: activeTab==='add_new_supplier'}" @click="activeTab='add_new_supplier'" @mouseover="activeTab='add_new_supplier'">
            <i class="fas fa-building"></i> Add New Supplier
        </button> -->

        <!-- <button :class="{active: activeTab==='edit_case'}" @click="activeTab='edit_case'" @mouseover="activeTab='edit_case'">
            <i class="fas fa-tools"></i> Edit Case
        </button> -->

        <!-- <button :class="{active: activeTab==='column_mapping'}" @click="activeTab='column_mapping'" @mouseover="activeTab='column_mapping'">
            <i class="fas fa-exchange-alt"></i> Column Mapping
        </button> -->
      </div>

      <!-- Main Content -->
      <div class="main-content">

        <!-- Upload Image invoice -->
        <div v-if="activeTab==='image'">
          <h4>Upload Image Invoice</h4>
          <input type="date" v-model="corr_date" class="form-control w-50 mb-3">
          <input type="file" multiple accept=".xlsx" @change="handleFileUpload" />
          <button @click="submitFiles" class="submit-button mt-2">Upload Image</button>
        </div>

        <!-- Upload Excel -->
        <div v-if="activeTab==='excel'">
          {% include "upload_excel.html" %}
        </div>

        <!-- Upload PDF -->
        <div v-if="activeTab==='pdf'">
          {% include "upload_pdf.html" %}
          <!-- <h4>Upload PDF Files</h4>
          <input type="date" v-model="corr_date" class="form-control w-50 mb-3">
          <input type="file" multiple accept="application/pdf" @change="handlepdfFiles" />
          <button @click="submitpdfFiles" class="submit-button mt-2">Upload PDF</button> -->
        </div>

        <!-- Invoice Table -->
        <div v-if="activeTab==='invoices'">
          <h4>Invoice List</h4>
          <table v-if="invoice_list.length" class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th v-for="(val, key) in invoice_list[0]" :key="key">[[ key ]]</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(row, i) in invoice_list" :key="i">
                <td v-for="(val, key) in row" :key="key+i">[[ val ]]</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Month Report -->
        <div v-if="activeTab==='month'">
          <h4>Download Month Report</h4>
          <!-- <form @submit.prevent="submitMonth" class="d-flex align-items-center gap-3">
            <input type="month" v-model="selectedMonth" class="form-control w-25">
            <button type="submit" class="submit-button">Download</button>
          </form> -->
        </div>

        <!-- edit_case -->
        <div v-if="activeTab==='edit_case'">
          <h4>edit_case</h4>
        </div>

        <!-- column_mapping -->
        <div v-if="activeTab==='column_mapping'">
         

        </div>

        <!-- Settings -->
        <div v-if="activeTab==='settings'">
          {% include "settings.html" %}
        </div>

      </div>
    </div>
  </div>

  <script>
    const { createApp } = Vue;
    createApp({
      delimiters: ['[[', ']]'],
      data() {
        return {
          //  main page variables-------------------------
          activeTab: 'excel',
          invoice_list: [],
          files: [],
          pdfFiles: [],
          corr_date: "",
          selectedMonth: "",
          // setting.html variables======================================
          suppliers: [],
          selectedSupplier: '',
          supplier_for_col_mapp: '',

          supplier_name: '',
          supplier_delete: '',
          newColumn: '',
          supplierCols: [],
          supplier_for_col_add: '',

          supplier_col_name: '',
          purchase_report_col_name: '',
          calculation: '',
          edit_column_list: [],
          toggleState1: false,
          toggleState2: false,
          mapping_columns: [],

          supplier_edit_case: '',
          min_case: '',
          max_case: '',
          profit_Case: '',
          add_case_list: [],
          gst_input: '',
          gst_map_input:'',
          profit_map_input:'',
          // upload_excel.html variable ======================================
          excel_date:'',
          edit_excel_date:'',
          excelFiles: [],
          edit_excelFiles:[],
          //upload_pdf.html variable=============================================
          pdf_date:'',
          pdfFiles: [],

        };

      },
      methods: {
        // upload_pdf.html methods=============================================
        handlePdfFileUpload(event) {
            this.pdfFiles = Array.from(event.target.files);
            console.log("Selected files:", this.pdfFiles);
         },
         async submitPdfFiles(){

          if (this.pdf_date === ""){
              Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please Input Date!',
              confirmButtonColor: '#f59e0b'
            });
            }else if(this.pdfFiles.length === 0){
              Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please Select One Excel file',
              confirmButtonColor: '#f59e0b'
            });
            }else{
              try{
                  const baseUrl = window.location.origin;
                  const formData = new FormData();
                  this.pdfFiles.forEach((file) => {
                  formData.append("files", file);
                  });
                  formData.append("date", this.pdf_date); 
                  const response = await axios.post(`${baseUrl}/submit_pdf_files/`, formData, {
                    headers: {
                      "Content-Type": "multipart/form-data"
                    }
                  });
                  if (response.data.status === 'success') {
                     Swal.fire({
                        icon: "success",
                        title: "Upload Complete",
                        text: "Your Excel files were uploaded successfully",
                        confirmButtonColor: "#3b82f6"
                      });
                  }else{
                     Swal.fire({
                        icon: "error",
                        title: "Failed",
                        text: response.data.message || "Upload failed",
                        confirmButtonColor: "#ef4444"
                      });
                  }
                
                }catch(error){
                    console.error("Upload failed:", error);
                    Swal.fire({
                      icon: "error",
                      title: "Error",
                      text: "Something went wrong during upload",
                      confirmButtonColor: "#ef4444"
                    });
                }
            }
         },

        // upload_excel.html methods===========================================
        async edit_submitExcelFiles(){
          if (this.edit_excel_date === ""){
              Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please Input Date!',
              confirmButtonColor: '#f59e0b'
            });
            }else if(this.edit_excelFiles.length === 0){
              Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please Select One Excel file',
              confirmButtonColor: '#f59e0b'
            });
            }
            else{
              try{
                  const baseUrl = window.location.origin;
                  const formData = new FormData();
                  this.edit_excelFiles.forEach((file) => {
                  formData.append("files", file);
                  });
                  formData.append("date", this.edit_excel_date); 
                  const response = await axios.post(`${baseUrl}/submit_edit_excel_files/`, formData, {
                    headers: {
                      "Content-Type": "multipart/form-data"
                    }
                  });
                  if (response.data.status === 'success') {
                     Swal.fire({
                        icon: "success",
                        title: "Upload Complete",
                        text: "Your Excel files were uploaded successfully",
                        confirmButtonColor: "#3b82f6"
                      });
                  }else{
                     Swal.fire({
                        icon: "error",
                        title: "Failed",
                        text: response.data.message || "Upload failed",
                        confirmButtonColor: "#ef4444"
                      });
                  }
                
                }catch(error){
                    console.error("Upload failed:", error);
                    Swal.fire({
                      icon: "error",
                      title: "Error",
                      text: "Something went wrong during upload",
                      confirmButtonColor: "#ef4444"
                    });
                }
            }
        },
        async submitExcelFiles(){

            if (this.excel_date === ""){
              Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please Input Date!',
              confirmButtonColor: '#f59e0b'
            });
            }
            else if(this.excelFiles.length === 0){
              Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please Select One Excel file',
              confirmButtonColor: '#f59e0b'
            });
            }
            else{
              // this.loading = true;
               Swal.fire({
                  title: "Uploading...",
                  text: "Please wait while we process your files",
                  allowOutsideClick: false,
                  allowEscapeKey: false,
                  didOpen: () => {
                    Swal.showLoading();
                  },
                });
              try{
                  const baseUrl = window.location.origin;
                  const formData = new FormData();
                  this.excelFiles.forEach((file) => {
                  formData.append("files", file);
                  });
                  formData.append("date", this.excel_date); 
                  const response = await axios.post(`${baseUrl}/submit_excel_files/`, formData, {
                    headers: {
                      "Content-Type": "multipart/form-data"
                    }
                  });
                  if (response.data.status === 'success') {
                     Swal.fire({
                        icon: "success",
                        title: "Upload Complete",
                        text: "Your Excel files were uploaded successfully",
                        confirmButtonColor: "#3b82f6"
                      });
                  }else{
                     Swal.fire({
                        icon: "error",
                        title: "Failed",
                        text: response.data.message || "Upload failed",
                        confirmButtonColor: "#ef4444"
                      });
                  }
                
                }catch(error){
                    console.error("Upload failed:", error);
                    Swal.fire({
                      icon: "error",
                      title: "Error",
                      text: "Something went wrong during upload",
                      confirmButtonColor: "#ef4444"
                    });
                }
            }
          },
        edit_handleExcelFileUpload(event){
            this.edit_excelFiles = Array.from(event.target.files);
            console.log("Selected files:", this.edit_excelFiles);
        },
        handleExcelFileUpload(event) {
            this.excelFiles = Array.from(event.target.files);
            console.log("Selected files:", this.excelFiles);
        },
        // setting.html methods=============================================
        async supplier_edit_case_change(){
              this.gst_input = '';
              this.gst_mapp='';
              this.profit_mapp='';
          try {
            const baseUrl = window.location.origin;
            const response = await axios.post(`${baseUrl}/fetch_case/`, new URLSearchParams({ supplier_id: this.supplier_edit_case}),
              {
                headers: {
                  "Content-Type": "application/x-www-form-urlencoded"
                }
              }
            );

            if (response.data.status === 'success') {
              // this.mapping_columns = response.data.mapping_columns;
              // this.edit_column_list = response.data.column_state;
              this.add_case_list = response.data.case_state;
              this.gst_input = response.data.gst;
              this.gst_map_input=response.data.gst_mapp;
              this.profit_map_input=response.data.profit_mapp;
            }

          }
          catch (error) {
            alert("error");
          }
        },
        async saveCase() {

          if (this.supplier_edit_case === '' || this.gst_input === '') {
            Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please Input Fields!',
              confirmButtonColor: '#f59e0b'
            });
          }
          else if (isNaN(this.gst_input)) {
            Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'GST is a number?',
              confirmButtonColor: '#f59e0b'
            });
          }
          else {
            const baseUrl = window.location.origin;
            try {
              const response = await axios.post(`${baseUrl}/save_edited_case/`,
                new URLSearchParams({
                  supplier_id: this.supplier_edit_case,
                  gst: this.gst_input,
                  gst_mapp:this.gst_map_input,
                  profit_mapp:this.profit_map_input,
                  add_case_list: JSON.stringify(this.add_case_list)
                }),
                {
                  headers: { "Content-Type": "application/x-www-form-urlencoded" }
                }
              );

              if (response.data.status === 'success') {
                alert("edited columns send!");
              }

            } catch (error) {
              console.error("Error sending data:", error);
            }
          }
        },

        async remove_addCase(index) {
          this.add_case_list.splice(index, 1);
        },

        async addCase() {
          if (this.min_case === '' || this.max_case === '' || this.profit_Case === ''){
            Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please Input Fields!',
              confirmButtonColor: '#f59e0b'
            });
          } 
          else if(isNaN(this.min_case) || isNaN(this.max_case) || isNaN(this.profit_Case)){
            Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please Input Numbers!',
              confirmButtonColor: '#f59e0b'
            });
          }
          else{
          this.add_case_list.push([this.min_case, this.max_case, this.profit_Case]);
          this.min_case = '';
          this.max_case = '';
          this.profit_Case = '';
          }
        },

        async saveEditedColumns() {
          if (this.supplier_for_col_add === '') {
            Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please select a supplier!',
              confirmButtonColor: '#f59e0b'
            });
          }
          else {
            const baseUrl = window.location.origin;
            try {
              const response = await axios.post(`${baseUrl}/save_edited_columns/`,
                new URLSearchParams({
                  supplier_id: this.supplier_for_col_add,
                  edit_column_list: JSON.stringify(this.edit_column_list)
                }),
                {
                  headers: { "Content-Type": "application/x-www-form-urlencoded" }
                }
              );

              if (response.data.status === 'success') {
                alert("edited columns send!");
              }

            } catch (error) {
              console.error("Error sending data:", error);
            }
          }
        },

        async remove_add_columns(index) {
          this.edit_column_list.splice(index, 1);
        },

        async add_columns() {
          this.edit_column_list.push([this.supplier_col_name, this.purchase_report_col_name, this.calculation]);
          this.supplier_col_name = '';
          this.purchase_report_col_name = '';
          this.calculation = '';
        },

        async supplier_for_col_mapp_onchange() {
          try {
            const baseUrl = window.location.origin;
            const response = await axios.post(`${baseUrl}/fetch_column_mapp/`, new URLSearchParams({ supplier_id: this.supplier_for_col_mapp }),
            );
          }
          catch (error) {
            alert("error");
          }
        },

        async supplier_for_col_add_onchange() {
          try {
            const baseUrl = window.location.origin;
            const response = await axios.post(`${baseUrl}/fetch_columns/`, new URLSearchParams({ supplier_id: this.supplier_for_col_add }),
              {
                headers: {
                  "Content-Type": "application/x-www-form-urlencoded"
                }
              }
            );

            // this.supplierCols.push(...response.data);
            if (response.data.status === 'success') {
              this.mapping_columns = response.data.mapping_columns;
              this.edit_column_list = response.data.column_state;
              // this.add_case_list = response.data.case_state;
              //this.gst = response.data.gst;
            }

          }
          catch (error) {
            alert("error");
          }
        },

        addColumn() {
          if (this.newColumn.trim() !== "" && !this.supplierCols.includes(this.newColumn)) {
            this.supplierCols.push(this.newColumn.trim());
            this.newColumn = "";
          }
        },

        removeColumn(index) {
          this.supplierCols.splice(index, 1);
        },

        async saveColumns() {
          const baseUrl = window.location.origin;
          const response = await axios.post(`${baseUrl}/add_update_columns/`, new URLSearchParams({
            supplier_id: this.supplier_for_col_add,
            supplierCols: JSON.stringify(this.supplierCols)
          }),
            {
              headers: {
                "Content-Type": "application/x-www-form-urlencoded"
              }
            }
          );

          if (response.data.status === 'success') {
            alert("Columns updated successfully!");
          }

        },

        async supplierDelete() {
          if (!this.supplier_delete) {
            Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please select a supplier!',
              confirmButtonColor: '#f59e0b'
            });
            return;
          }

          const confirmed = window.confirm("Are you sure you want to delete this supplier?");
          if (!confirmed) {
            return; 
          }

          const baseUrl = window.location.origin;
          const response = await axios.post(`${baseUrl}/delete_supplier/`, new URLSearchParams({ supplier_id: this.supplier_delete }),
            {
              headers: {
                "Content-Type": "application/x-www-form-urlencoded"
              }
            }
          );
          if (response.data.status === 'success') {
            alert("Supplier Deleted successfully!");
            this.fetch_supplier();
          }
          else {
            alert("Error!");
          }
        },

        async addNewSupplier() {
          const baseUrl = window.location.origin;
          const response = await axios.post(
            `${baseUrl}/add_supplier/`, new URLSearchParams({ supplier_name: this.supplier_name }),
            {
              headers: {
                "Content-Type": "application/x-www-form-urlencoded"
              }
            }
          );
          if (response.data.status === 'success') {
            alert("Supplier added successfully!");
            this.fetch_supplier();
          }
          else {
            alert("error!");
          }
        },

        async fetch_supplier() {
          try {
            const baseUrl = window.location.origin;
            const response = await axios.get(`${baseUrl}/get_suppliers/`);
            this.suppliers = response.data;

          } catch (error) {
            console.error("Error fetching suppliers:", error);
          }
        },
      // setting.html method end ==========================================
      },
      computed: {

      },
      mounted() {
        this.fetch_supplier();
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0');
        this.selectedMonth = `${year}-${month}`;
      },
    }).mount("#app");
  </script>
</body>

</html>