<div>
    <div class="row mt-2 bg-blue-200 shadow-md">
        <div class="flex-1 p-4 m-2 "></div>
        <div class="flex-1 p-4 m-2 ">
            <input type="date" v-model="excel_date" class="form-control w-50 mb-3">
            <input type="file" multiple accept=".xlsx" @change="handleExcelFileUpload" />
            <button @click="submitExcelFiles" class="submit-button mt-2">Upload Excel</button>
        </div>
        <div class="flex-1 p-4 m-2 "></div>
    </div>
    <!-- Overlay -->
    <div v-if="loading" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50">
        <div class="bg-white p-6 rounded-lg shadow-lg flex items-center space-x-3">
            <svg class="animate-spin h-6 w-6 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
            </svg>
            <span class="text-gray-700 font-medium">Processing...</span>
        </div>
    </div>
</div>