<div>
    <div class="row mt-2 bg-blue-200 shadow-md">
        <!-- <div class="flex-1 p-4 m-2 "></div> -->
        <div class="flex-1 p-4 m-2 ">
             <label for="supplier_name" class="block mb-3 text-gray-700 font-semibold">
                Upload New Invoices
            </label>
            <input type="date" v-model="excel_date" class="form-control w-50 mb-3">
            <input type="file" multiple accept=".xlsx" @change="handleExcelFileUpload" />
            <button @click="submitExcelFiles" class="submit-button mt-2">Upload Excel</button>
        </div>
        <div class="flex-1 p-4 m-2 ">
            <label for="supplier_name" class="block mb-3 text-gray-700 font-semibold">
                Upload Edited Invoices
            </label>
            <input type="date" v-model="edit_excel_date" class="form-control w-50 mb-3">
            <input type="file" multiple accept=".xlsx" @change="edit_handleExcelFileUpload" />
            <button @click="edit_submitExcelFiles" class="submit-button mt-2">Upload Excel</button>
        </div>
    </div>
    
</div>